{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <style>
        .backgroundcentertext {
            background-color: rgba(255, 255, 255, 0.651);
            align-self: center;
        }

        .backgroundcards {
            background-color: rgb(255, 255, 255);
        }

        a {
            text-decoration: none;
            color: rgb(255, 255, 255)
        }

        a:link,
        a:visited {
            color: rgb(255, 255, 255);
        }

        a:hover {
            color: rgb(255, 255, 255);
        }

        .tab {
            display: inline-block;
            margin-left: 40px;
            text-align: start;
        }

        .red {
            color: red;
        }
    </style>
</head>

<body>
    <main class="bg-dark">
        <section class="py-3 text-white text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-12 mx-auto text-start">
                    <h1 class="fw-light">Onze Gebruikersvoorwaarden en Privacy Policy</h1>
                    <br />
                    <h2 class="fw-light">Gebruikersvoorwaarden</h2>
                    <br />
                    <p class="lead">
                        De consument heeft het recht aan Jurgmeister.be mee te delen dat hij afziet van de aankoop,
                        zonder betaling van een boete en zonder opgave van motief binnen 14 kalenderdagen vanaf de dag
                        die volgt op de dag van de levering van het goed of op het sluiten van de dienstenovereenkomst.
                        <br /><br />
                        Wij danken je voor jouw bezoek aan de website toegankelijk op het adres www.jurgmeister.be,
                        hierna de “Website”, eigendom van en beheerd door de eenmanszaak Jurgmeister, met
                        maatschappelijke zetel te
                        <br /><br />
                        Vierendeelslos 3, 1742 Ternat, België met KBO nummer: BE0766.255.359, hierna
                        Jurgmeister.be.
                        <br /><br />
                        Jurgmeister.be is actief in de verkoop van online alcoholisch producten en aanverwanten.
                        <br /><br />
                        Lees aandachtig deze Algemene Voorwaarden. Deze Algemene Voorwaarden bepalen de voorwaarden voor
                        de toegang tot en het gebruik van de Website, het aanmaken van een account en de aankoop van
                        goederen op de Website. Deze Algemene Voorwaarden bestaan uit 3 luiken:
                        <br />
                        I. Algemene Gebruiksvoorwaarden Website
                        <br />
                        II. Algemene Verkoopsvoorwaarden
                        <br />
                        III. Algemene bepalingen
                        <br />
                        <br />
                        Bij het aanmaken van een account en bij het plaatsen van bestellingen zal je gevraagd worden te
                        bevestigen dat je kennis genomen hebt van deze Algemene Voorwaarden en dat je de inhoud ervan
                        als bindend aanvaardt.
                        <br />
                        <br />
                        I. Algemene Gebruiksvoorwaarden Website
                        <br />
                        1. Opzet van de Website:
                        <br />
                        De Website is een platform website die bezoekers toelaat om producten aan te kopen.
                        <br /><br />
                        2. Toepasselijkheid en bindende kracht:
                        <br />
                        Deze Algemene Gebruiksvoorwaarden Website zijn van toepassing op elk gebruik van de Website. Je
                        verklaart door je bezoek aan de Website kennis genomen te hebben van deze Algemene
                        Gebruiksvoorwaarden Website en de inhoud ervan als bindend te aanvaarden.
                        <br /><br />
                        3. Deze website gebruiken:
                        <br />
                        </p>
                    <p class="lead tab">
                        3.1. Het gebruik van de Website is gratis.
                        Jurgmeister.be behoudt zich het recht voor om de toegang voor bezoekers die de huidige Algemene
                        Gebruiksvoorwaarden Website en Privacy & Cookie Policy van de Website niet naleven, eenzijdig,
                        onmiddellijk en zonder voorafgaande verwittiging af te sluiten.
                    </p>
                    <p class="lead">
                    <br /><br />
                    4. Het aanmaken van een account<br />
                    <br />
                    <p class="lead tab">
                    4.1. Om bestellingen te kunnen plaatsen op onze Website, dien je de aangeboden
                    betalingsmogelijkheden te gebruiken.
                    <br />
                    Om goederen aan te kopen via deze Website moet je ouder zijn dan 18 jaar. Jurgmeister.be behoudt
                    zich het recht voor om de toegang eenzijdig en zonder voorafgaande verwittiging af te sluiten
                    indien blijkt dat je minderjarig bent.
                    <br /><br />
                    4.2. Het is jou niet toegestaan gebruik te maken van andermans identiteit, van proxy's en
                    tijdelijke e-mailadressen.
                    <br /><br />
                    4.3. Bij de aankoop dien je door het aankruisen van het daartoe voorziene vakje te verklaren dat
                    je kennis hebt genomen van de huidige Algemene Voorwaarden en deze ook aanvaardt, hetgeen de
                    kennisname en aanvaarding impliceert van alle 3 luiken van de Algemene voorwaarden, m.n. de
                    Algemene Gebruiksvoorwaarden Website, de Algemene Verkoopsvoorwaarden en de Algemene bepalingen
                    <br /><br />
                    4.4. Jurgmeister.be behoudt zich het recht voor om jouw aankoop al dan niet te aanvaarden. Jouw
                    aankoop kan onder meer, maar niet uitsluitend, geweigerd worden om volgende redenen:
                    <br />
                    Je verstrekt niet de gevraagde gegevens voor identificatie of verstrekt onvolledige of onjuiste
                    gegevens ervoor;<br />
                    Je tracht zich meerdere malen aan te melden door gebruik te maken van verschillende namen;<br />
                    Je maakt gebruik van andermans identiteit;<br />
                    Je komt één of meerdere in deze Algemene Voorwaarden gestelde verplichtingen niet na of liet
                    zulks in het verleden na of Jurgmeister.be kan redelijkerwijze aannemen dat je een dergelijke
                    verplichting niet zal nakomen;<br />
                    Elke andere reden op grond waarvan wij redelijkerwijze kunnen oordelen dat jouw aankoop niet
                    aanvaard kan worden.
                    <br />
                    4.5. Vanaf het ogenblik dat jouw aankoop compleet is, ontvang je een bevestigingse-mail met alle
                    relevante gegevens voor de toegang tot en het beheer van jouw aankoop.
                    <br /><br />
                </p>
                <p class="lead">
                    5. Onze aansprakelijkheid
                    <br />
                </p>
                <p class="lead tab">
                    5.1. Jurgmeister.be besteedt de grootst mogelijke aandacht en zorg aan de inhoud van de Website.
                    Deze inhoud is echter onderhevig aan wijzigingen, kan te allen tijde verwijderd worden en wordt
                    je aangeboden zonder expliciete of impliciete garanties omtrent de correctheid ervan.
                    Jurgmeister.be is niet aansprakelijk voor schade ingevolge het gebruik van de inhoud op de
                    Website, ongeacht of deze correct of incorrect bleek, noch voor schade die wordt veroorzaakt
                    door het gebruiken of verspreiden van deze inhoud.
                    <br /><br/>
                    5.2. Jurgmeister.be stelt alles in werking om een toegang te verlenen tot de Website 24 uur op
                    24
                    en 7 dagen op 7. Gelet op de technische kenmerken van het internet en van de informaticamiddelen
                    en gelet op de noodzaak om periodieke onderhouds-, update- of upgradewerkzaamheden uit te
                    voeren, kan Jurgmeister.be echter geen ononderbroken toegang en dienstverlening garanderen. In
                    geval van normaal aanvaardbare onderbreking of verstoring van de toegang of de dienstverlening,
                    stelt Jurgmeister.be alles in werking om dit binnen een zo kort mogelijke termijn te verhelpen.
                    Dergelijke normaal aanvaardbare onderbrekingen of verstoringen zijn eigen aan de dienstverlening
                    via internet en kunnen niet beschouwd worden als tekortkomingen.
                </p>
                    <br /><br />
                <p class="lead">
                    6. Intellectuele eigendom
                    <br />
                    Jurgmeister.be is de exclusieve rechthebbende of rechtverkrijgende van het geheel van de
                    intellectuele eigendomsrechten verbonden aan de Website en de aangeboden dienst. Je verbindt je
                    ertoe op geen enkele wijze en onder geen enkele vorm dan ook het geheel van elementen waaruit de
                    Website bestaat, of een deel ervan, te kopiëren, te bewerken, uit te baten of door te verkopen
                    of op enige andere wijze te gebruiken, behoudens wanneer hiervoor de uitdrukkelijke
                    schriftelijke en voorafgaande goedkeuring van Jurgmeister.be bekomen werd. Deze elementen zijn
                    onder andere het merk, de teksten, de software, de databases, de formulieren, de handelsnamen,
                    de productnamen, de logo’s, de grafische elementen en illustraties, de grafieken, de muziek, de
                    kleurcombinaties, de slogans, de lay-outs en bladschikkingen en elk ander voor bescherming in
                    aanmerking komend element van de Website en van de dienst.
                    <br /><br />
                    II. Algemene Verkoopsvoorwaarden<br />
                    Inhoudsopgave<br />
                    Artikel 1 – Toepasselijkheid<br />

                    Artikel 2 – Ons aanbod en jouw bestelling<br />

                    Artikel 3 – Herroepingsrecht<br />

                    Artikel 4 – De prijs<br />

                    Artikel 5 – Betaling<br />

                    Artikel 6– Conformiteit en garantie<br />

                    Artikel 7 – Levering en uitvoering<br />

                    Artikel 8 – Overmacht<br />

                    Artikel 9 – Intellectuele eigendom<br />

                    Artikel 10 – Klachtenregeling en geschillen<br />
                    <br /><br />


                    Artikel 1 : Toepasselijkheid<br />
                    Onze Algemene Verkoopsvoorwaarden zijn van toepassing op elk aanbod van ons als Webwinkelier aan
                    jou (in je hoedanigheid van consument) en elke overeenkomst die tussen ons tot stand komt.
                    Voordat een Overeenkomst tussen ons tot stand komt, brengen we de tekst van deze Algemene
                    Verkoopsvoorwaarden (alsmede de andere onderdelen van de Algemene Voorwaarden) duidelijk aan jou
                    ter kennis en vragen we je ze te aanvaarden. De Algemene Voorwaarden worden aan jou duidelijk
                    ter beschikking gesteld met de mogelijkheid deze op te slaan op een duurzame drager. Als we je
                    onze Algemene Voorwaarden om één of andere reden niet kunnen tonen, kan je hiervan bij ons een
                    kopie of inzage krijgen door middel van een e-mail t.a.v. info@Jurgmeister.be.
                    De Algemene Voorwaarden worden aan de jou ter beschikking gesteld voordat je jouw order
                    bevestigd hebt op de website. Hiervoor wordt een weblink gebruikt. Via deze weblink kan je de
                    algemene voorwaarden in een formaat bekomen dat je kan opslaan of afdrukken. We raden je
                    overigens aan om dit altijd te doen. Je zal aanvinken dat je kennis hebt genomen van de Algemene
                    Voorwaarden en deze integraal aanvaard hebt.
                    Als naast deze Algemene Voorwaarden ook bijkomende bijzondere voorwaarden van toepassing zijn,
                    geldt bovenstaande inzake de kennisname en aanvaarding ook voor die bijzondere voorwaarden. Als
                    onze Algemene Voorwaarden strijdig zouden zijn met die bijzondere voorwaarden kan jij als
                    consument altijd de meest voordelige tekst in jouw voordeel inroepen.
                    <br /><br />

                    Artikel 2: Ons Aanbod en jouw bestelling<br />
                    Als een aanbod slechts een beperkte geldigheidsduur heeft of onderworpen is aan bepaalde
                    voorwaarden, vermelden we dit uitdrukkelijk in ons aanbod.
                    We streven ernaar om altijd zo volledig en nauwkeurig mogelijk te omschrijven wat we je
                    verkopen. De beschrijving trachten we in elk geval voldoende gedetailleerd weer te geven om je
                    een goede beoordeling te laten maken. Als we gebruik maken van afbeeldingen, trachten wij deze
                    een waarheidsgetrouwe weergave te laten zijn van de aangeboden goederen en/of diensten. De
                    online weergaven kunnen evenwel afwijken van de realiteit, onder meer rekening houdend met de
                    verschillen die kunnen ontstaan bij het maken van de weergave (bv. foto) en de wijze waarop dit
                    op het beeldscherm weergegeven wordt (en de instellingen die daarvoor door jou worden gebruikt).
                    Jurgmeister.be kan evenwel niet aansprakelijk zijn voor eventuele verschillen tussen de weergave
                    en de realiteit. In de mate dat je wenst af te zien van de verkoop, kan je gebruik maken van
                    zijn herroepingsrecht binnen de daartoe aangegeven grenzen.
                    Je bestelling is compleet en de overeenkomst tussen ons is definitief zodra Jurgmeister.be je
                    bestelling bevestigt per mail. Zolang je geen bevestiging van ons ontving, kan je nog van je
                    bestelling afzien.<br /><br />

                    Artikel 3: Herroepingsrecht<br />
                    Als je goederen bij ons koopt (behalve voor de uitzonderingen die hieronder opgesomd zijn) heb
                    je gedurende 14 kalenderdagen vanaf de dag na de levering het recht om te beslissen dat je de
                    goederen niet wil houden. Je kan je bestelling dan zonder betaling van een boete en zonder
                    opgave van reden terugsturen binnen 14 kalenderdagen (de kosten voor de verzending hiervan
                    betaal je zelf). Binnen de 30 kalenderdagen nadat we je bestelling teruggekregen hebben, betalen
                    we je de volledige aankoopprijs van de teruggestuurde goederen, samen met de oorspronkelijke
                    leveringskosten, terug. We melden je in elk geval nog eens duidelijk dat je over dit recht
                    beschikt bij de bevestiging van je bestelling of ten laatste bij de levering.
                    Tijdens de eerste 14 kalenderdagen na de dag van de ontvangst van de levering verwachten we dat
                    je zorgvuldig omgaat met de bestelling en de verpakking indien je van plan bent de goederen
                    eventueel terug te sturen. Als je de goederen nog wil kunnen terugsturen zoals hierboven
                    omschreven, mag je ze enkel in die mate uitpakken als nodig is om te kunnen beoordelen of je het
                    goed wenst te behouden. Gezien de aard van de goederen mogen teruggestuurde goederen niet
                    gebruikt zijn. Dit impliceert onder meer dat de verpakkingen in goede staat zijn en niet
                    beschadigd zijn (bv. de zegels moeten nog intact zijn).

                    Als je de goederen terugstuurt, moet dit gebeuren samen met alle geleverde toebehoren en -
                    indien redelijkerwijze mogelijk - in de originele staat en verpakking en rekening houdende met
                    onze instructies.

                    Als je goederen terugstuurt ben jij verantwoordelijk voor het transport en de kosten hiervan.
                    Het herroepingsrecht is pas geldig uitgeoefend wanneer wij de producten terug hebben ontvangen
                    en de producten in goede staat zijn (zoals hierboven omschreven). Als de producten (geheel of
                    gedeeltelijk) verloren of beschadigd raken in het transport, of die niet voldoen aan de
                    hogervermelde voorwaarden, kunnen we je niet vergoeden. We raden je aan een passende verzekering
                    hiervoor af te sluiten.
                    <br /><br />
                    Artikel 4: De prijs<br />
                    Tijdens de periode die we in ons aanbod vermelden, wijzigen onze prijzen niet, behoudens
                    prijswijzigingen als gevolg van veranderingen in BTW-tarieven.

                    Onze prijzen zijn inclusief alle belastingen, BTW, taksen en diensten. Je komt dus nooit voor
                    verrassingen te staan.

                    Bovenop de aankoopprijs worden nog de verzendkosten aangerekend, dewelke vermeld worden voordat
                    je je aankoop definitief plaatst. Deze verzendkosten worden aangerekend op basis van de tarieven
                    die op het ogenblik van de bestelling van toepassing zijn en in functie van de grootte van het
                    pakket en de bestemming. Deze prijzen kunnen wel op elk ogenblik gewijzigd worden, aangezien wij
                    ook afhankelijk zijn van de externe transportfirma.<br /><br />

                    Artikel 5: Betaling<br />
                    Tenzij we anders met je overeengekomen zijn, aanvaarden we alleen voorafbetaling via onze
                    website.

                    Als je onjuistheden opmerkt in je betaalgegevens of iets verdachts opmerkt tijdens je betaling,
                    moet je ons dat onmiddellijk melden op het e-mailadres info@Jurgmeister.be

                    www.Jurgmeister.be maakt normaal gezien gebruik van voorafbetaling. Indien dit niet het geval
                    zouzijn en je dus niet vooraf hebt betaald en je ons niet tijdig of niet volledig betaalt, kunnen
                    wij de kosten die je daarmee veroorzaakt in rekening brengen. In elk geval ben je ons vanaf de
                    dertigste dag na de factuurdatum zonder voorafgaande ingebrekestelling intresten verschuldigd
                    van 10% per jaar op het openstaande factuurbedrag, net als een forfaitaire schadevergoeding van
                    eveneens 10% van het openstaande factuurbedrag. Alle goederen die we je toesturen blijven in elk
                    geval onze eigendom tot op het ogenblik dat je ze volledig betaald hebt. Indien je ze niet
                    (tijdig) betaalt, kunnen wij op elk ogenblik beslissen om ze op jouw kosten terug te nemen.
                    Zolang je bij ons openstaande facturen hebt, mag je de door ons geleverde goederen niet
                    doorverkopen, wegschenken, als onderpand gebruiken of ze onroerend maken.<br /><br />

                    Artikel 6: Conformiteit en Garantie<br />
                    Wij garanderen dat onze goederen conform zijn aan je bestelling en voldoen aan de normale
                    verwachtingen die je ervan mag hebben rekening houdende met de specificaties van het product.
                    Wij garanderen je natuurlijk ook dat onze goederen voldoen aan alle op het ogenblik van je
                    bestelling bestaande wetten.
                    In de mate dat je bij de levering vaststelt dat de producten niet voldoen aan hetgeen besteld
                    werd (of beschadigd zijn), dien je dit binnen de 24u te melden aan Jurgmeister.be per e-mail op
                    info@Jurgmeister.be zodoende dat Jurgmeister.be zijn rechten kan vrijwaren opzichtens de
                    leveringsdienst.
                    Jurgmeister.be is evenwel geen fabrikant en verdeelt enkel de producten via haar webshop. Op de
                    accessoires is er een garantie van 2 jaar.<br /><br />

                    Artikel 7: Levering en uitvoering<br />
                    Alle goederen worden geleverd na betaling op het door jou bij je bestelling aangegeven adres.
                    Voor zover dit redelijkerwijze mogelijk is, en onder meer afhankelijk of het product voorradig
                    is, leveren wij je bestelling uiterlijk binnen 30 dagen na je bestelling (en op voorwaarde dat
                    de bestelling en de concrete gegevens correct en volledig zijn), tenzij vooraf een langere
                    leveringstermijn is afgesproken of aangegeven. Als wij niet tijdig kunnen leveren, verwittigen
                    wij je altijd voor het verstrijken van deze termijn van 30 dagen. Indien de levering niet binnen
                    de termijn van maximaal 30 dagen kan gebeuren heeft u het recht kosteloos de overeenkomst te
                    ontbinden.

                    De verzending van goederen en waardebons gebeurt steeds op risico van Jurgmeister.be. Je hoeft
                    je
                    dus geen zorgen te maken om goederen die verloren gaan in de post. Als je ons echter goederen
                    terugzendt binnen de 14 dagen na aankoop omdat je ze liever niet wil houden, ben jij
                    verantwoordelijk voor het transport.<br /><br />

                    Artikel 8: Overmacht<br />
                    In geval van overmacht zijn wij niet gehouden onze verplichtingen na te komen. In dat geval
                    kunnen wij ofwel onze verplichtingen opschorten voor de duur van de overmacht, ofwel de
                    overeenkomst definitief ontbinden. Ook de jij beschikt als consument over eenzelfde recht in
                    geval van overmacht.
                    Overmacht is elke omstandigheid buiten onze wil en controle die de nakoming van onze
                    verplichtingen geheel of gedeeltelijk verhindert. Hieronder begrijpen wij onder meer, stakingen,
                    brand, bedrijfsstoringen, energiestoringen, storingen in een (telecommunicatie-)netwerk of
                    verbinding of gebruikte communicatiesystemen en/of het op enig moment niet beschikbaar zijn van
                    de website van de Webwinkelier, niet of niet-tijdige levering van toeleveranciers of andere
                    ingeschakelde derden, ...<br /><br />

                    Artikel 9: Intellectuele eigendom<br />
                    Onze website, logo’s, teksten, foto’s, namen en in het algemeen al onze communicatie zijn
                    beschermd door intellectuele eigendomsrechten die hetzij bij ons, hetzij bij onze
                    toeleveranciers of andere rechthebbenden liggen.
                    Het is verboden gebruik te maken van en/of wijzigingen aan te brengen in de intellectuele
                    eigendomsrechten zoals beschreven in dit artikel. Zo mag je bijvoorbeeld tekeningen, foto’s
                    namen, teksten, logo’s kleurencombinatie, etc … niet kopiëren of reproduceren zonder onze
                    voorafgaande en uitdrukkelijke schriftelijke toestemming.<br /><br />

                    Artikel 10: Klachtenregeling en geschillen<br />
                    We hopen natuurlijk steeds dat al onze klanten 100% tevreden zijn. Als je toch klachten zou
                    hebben over onze diensten, kan je hiervoor beroep doen op de klachtenprocedure die op onze
                    website beschreven is. We doen er alles aan om je klacht binnen een redelijke termijn te
                    behandelen. Daarnaast kan je ons bereiken op het volgende adres: Jurgmeister, met
                    maatschappelijke zetel te Vierendeelslos 3, 1742 Ternat, België.
                    Op alle overeenkomsten die we afsluiten met onze klanten, ongeacht hun woonplaats, is
                    uitsluitend het Belgische recht van toepassing.
                    <br /><br />
                    III. Algemene bepalingen<br /><br />
                    1. Aanpassingen<br />

                    Indien deze Algemene Voorwaarden worden gewijzigd, is de nieuwe versie beschikbaar op de Website
                    en is deze nieuwe versie van toepassing vanaf uw eerstvolgende bestelling via de Website (en
                    bijhorende aanvaarding van de Algemene Voorwaarden door dit aan te vinken). Vanaf dat ogenblik
                    wordt u geacht hiervan kennis te hebben genomen en hiermee akkoord te gaan. Het is dus van
                    belang bij elke bestelling de datum van aanpassing hierboven vermeld, na te gaan.<br /><br />

                    2. Toepasselijk recht en bevoegdheidsbeding<br />

                    Deze Algemene Voorwaarden worden beheerst, geïnterpreteerd en uitgevoerd in overeenstemming met
                    het Belgische recht, dat exclusief van toepassing is bij elk eventueel geschil.
                    <br />
                    De rechtbanken van het gerechtelijk arrondissement Gent in België zijn exclusief bevoegd om te
                    oordelen over elk geschil dat zou kunnen voortvloeien uit de interpretatie of de uitvoering van
                    deze Algemene Voorwaarden, onverminderd de eventuele toepassing van dwingende wettelijke
                    bepalingen.<br /><br />

                    3. Aanvaarding<br />

                    Door de de kennisname en de aanvaarding van de Algemene Voorwaarden aan te vinken , aanvaardt u
                    alle bepalingen van deze Algemene Voorwaarden.<br /><br />

                    4. Contact<br />

                    Voor alle bijkomende inlichtingen of opmerkingen met betrekking tot deze Algemene Voorwaarden
                    kan u contact opnemen met Jurgmeister.be op het volgend adres: Jurgmeister, met
                    maatschappelijke zetel te Vierendeelslos 3, 1742 Ternat, België, info@Jurgmeister.be
                    <br />
                    Elke klacht of betwisting dient aangetekend aan het hierboven vermelde adres te worden
                    verzonden.
                    <br />
                    Elke mededeling van ons aan u gebeurt via de website of per e-mail.
                    <br />
                    Kan ik mijn bestelling steeds terugsturen?
                    <br />
                    Mocht een niet gepersonaliseerde product niet helemaal zijn zoals u verwacht had, dan kunt u
                    deze binnen 14 werkdagen in de originele verpakking en in nieuwe staat terugsturen, zonder enige
                    reden.
                    <br />
                    Gelieve retourzendingen eerst per e-mail te melden op info@Jurgmeister.be
                    <br />
                    Stuur het artikel in een voldoende gefrankeerde verpakking, met vermelding van uw gegevens
                    (naam, telefoonnummer en e-mail adres) terug naar: Jurgmeister, Vierendeelslos 3, 1742 Ternat,
                    België
                    <br />
                    Indien de artikelen correct retour zijn ontvangen, maakt Jurgmeister binnen 30 dagen het
                    verschuldigde bedrag (exclusief de initiële verzendkosten en de verzendkosten die u gemaakt
                    heeft om het product terug te sturen) aan u over.
                    <br />
                    Verbruiks producten
                    <br />
                    Vanwege het specifieke karakter komt het recht op wijziging, retournering en annulering van uw
                    bestelling te vervallen indien de verpakking van de voedingswaren geopend is.
                    <br />
                    Indien u een klacht heeft over een bepaald product, vragen wij u dit schriftelijk te melden aan
                    ons via mail op info@Jurgmeister.be en uw klacht altijd te illustreren met een foto.<br /><br />
                    </p>
                    <hr>
                    <h2 class="fw-light">Privacy Policy</h2>
                    <p class="lead">
                        <u><b>1. Vennootschap</b></u>
                        <br />
                        <br />
                        De eenmanszaak Jurgmeister, met maatschappelijke zetel te Vierendeelslos 3, 1742 Ternat, België
                        (hierna “Wij”), is verantwoordelijk voor de verwerking van jouw persoonsgegevens op de website
                        www.jurgmeister.be (hierna ‘de Website’).
                        Wij leven als Belgische eenmanszaak de Belgische ‘Wet van 8 december 1992 tot bescherming van de
                        persoonlijke levenssfeer ten opzichte van de verwerking van persoonsgegevens’ na, zoals
                        gewijzigd door de Wet van 11 december 1998 alsook de ‘Wet van 13 juni 2005 betreffende de
                        elektronische communicatie’.
                        Een verklaring werd afgelegd bij de Belgische Commissie voor de Bescherming van de Persoonlijke
                        Levenssfeer wat betreft de verwerking van jouw persoonsgegevens, zoals de wet dit vraagt.
                        <br />
                        <br />
                        <u><b>2. Persoonsgegevens die verzameld worden</b></u>
                    </p>
                    <p class="lead tab">
                        <u>2.1. De gegevens die je ons meedeelt bij je bestelling of registratie:</u>
                        <br />
                        Je naam en voornaam, je contactgegevens (e-mail, telefoon, adres, eventueel bijkomend
                        leveringsadres, betaalgegevens) en eventuele andere gegevens die we vragen bij het aanmaken van
                        een account op de website.
                        <br />
                        <br />
                        <u>2.2. De gegevens die automatisch worden:</u>
                        <br />
                        Bepaalde gegevens worden verzameld via cookies.
                        Bepaalde gegevens kunnen eveneens verzameld worden zonder in cookies opgeslagen te zijn.
                        Zij kunnen enkel door ons gelezen worden en uitsluitend gedurende jouw bezoek aan de Website.
                        Het gaat om: 1°) het TCP/IP adres 2°) het type en de versie van jouw navigatiesysteem 3°) de
                        laatst bezochte internet pagina.
                        <br />
                        <br />
                        <u>2.3. De persoonsgegevens die door commerciële partners worden meegedeeld:</u>
                        In deze hypothese garanderen onze commerciële partners ons dat zij de toestemming hebben bekomen
                        om de betreffende persoonsgegevens over te maken.
                    </p>
                    <br />
                    <br />
                    <p class="lead">
                        <u><b>3. Doeleinden van de verwerking</b></u>
                    </p>
                    <p class="lead tab">
                        <u>3.1. Algemene doeleinden</u>
                        <br />
                        Jouw persoonsgegevens worden verzameld om:
                        <br />
                        - Je de dienst / producten aangeboden op de Website te kunnen leveren;<br />
                        - Het doen van marktonderzoek ter verbetering van de technische en inhoudelijke kwaliteit van de
                        Website;<br />
                        - Het verstrekken van informatie, het verzenden van een e-mail met de verschillende aanbiedingen
                        die
                        je zouden kunnen interesseren;<br />
                        - De technische administratie van de Website te beheren;<br />
                        - Na de gegevens anoniem te hebben gemaakt, statistieken op te maken of enquêtes uit te voeren
                        met
                        betrekking tot het aantal bezoeken van de verschillende onderdelen van de Website.<br />
                        <br />
                        <u>3.2. Direct marketing en mededeling aan derden</u>
                        <br />
                        Jouw persoonsgegevens worden strikt vertrouwelijk gehouden en worden in geen geval meegedeeld
                        aan
                        derden of gebruikt voor doeleinden van direct marketing, tenzij wij hiervoor jouw expliciete
                        voorafgaande toestemming hebben verkregen (“opt-in”) bij je aanmelding.
                        De persoonsgegevens worden wel aan derden meegedeeld in de mate dat dit noodzakelijk is voor de
                        uitvoering van de verplichtingen, zoals onder meer:
                        - De personen gelast met het leveren van de bestellingen.
                        Deze toestemming kan op elk moment worden ingetrokken, zonder motivering en gratis door
                        verzending
                        van een e-mail aan info@jurgmeister.be.
                    </p>
                    <br />
                    <br />
                    <p class="lead">
                        <u><b>4. Duur van het bijhouden van de gegevens</b></u>
                        <br />
                        Alle persoonsgegevens worden bewaard voor een periode die noodzakelijk is voor ons om de dienst
                        te
                        leveren.
                        <br />
                        <br />
                        <u><b>5. Recht van toegang en verbetering</b></u>
                        <br>
                        Je hebt het recht om op elk moment gratis kennis te nemen van jouw persoonsgegevens, deze
                        kosteloos
                        te verbeteren of te wijzigen en dit door verzending van een e-mail aan info@Jurgmeister.be of
                        per
                        brief aan het adres in artikel 1 van deze Privacy & Cookie Policy, mits bijvoeging van een kopie
                        van
                        jouw identiteitskaart. Wij zullen binnen de 30 dagen een bevestiging sturen van de verbetering
                        of
                        wijziging van de gegevens.
                        <br />
                        Je bent geheel vrij om jouw persoonsgegevens al dan niet aan ons mee te delen. Je dient wel te
                        weten
                        dat bepaalde diensten geweigerd kunnen worden indien je jouw persoonsgegevens niet invult op het
                        aanmeldingsformulier en dat je als enige verantwoordelijk bent voor de juistheid van de gegevens
                        die
                        je meedeelt aan ons.
                        <br />
                        <br />
                        <u><b>6. Recht van verzet</b></u>
                        <br />
                        Je kan jouw recht van verzet tegen de verwerking van jouw persoonsgegevens om ernstige en
                        legitieme
                        redenen kosteloos uitoefenen door een e-mail te richten aan info@Jurgmeister.be Je kan je echter
                        niet verzetten tegen de verwerking van jouw persoonsgegevens indien dit noodzakelijk is voor de
                        uitvoering van de contractuele verplichtingen. Wij zullen binnen de 30 dagen een bevestiging
                        sturen
                        van de schrapping van de gegevens.
                        <br />
                        <br />
                        <u><b>7. Veiligheid en vertrouwelijkheid</u></b>
                        <br />
                        Wij hebben veiligheidsmaatregelen ontwikkeld die aangepast zijn op technisch en organisatorisch
                        vlak, om de vernietiging, het verlies, de vervalsing, de wijziging, de niet-toegestane toegang
                        of de
                        kennisgeving per vergissing aan derden van persoonsgegevens verzameld op de Website te vermijden
                        alsook elke andere niet toegestane verwerking van deze gegevens.
                        <br />
                        In geen geval kunnen wij aansprakelijk worden geacht voor enige directe of indirecte, schade die
                        voortvloeit uit een foutief of onrechtmatig gebruik door een derde van de persoonsgegevens.
                        <br />
                        Wij houden eraan je ervan te verwittigen dat de Website links, hyperlinks of referenties kan
                        bevatten naar andere sites, die wij niet controleren en waarop deze Privacy & Cookie Policy niet
                        van
                        toepassing is. Deze sites worden inderdaad niet beheerd door ons. Wij zijn niet aansprakelijk
                        voor
                        de inhoud van zulke websites waarnaar verwezen wordt en ook niet voor de aanbiedingen, producten
                        of
                        diensten die erop vermeld worden. Wij raden je dus aan om aandachtig elk privacyreglement van
                        elke
                        site die je bezoekt, te lezen daar deze kan verschillen van deze Privacy & Cookie Policy.
                        <br />
                        <br />
                        <u><b>8. Cookies</b></u>
                    </p>
                    <p class="lead tab">
                        <u>8.1. Informatie over ons gebruik van Cookies</u>
                        <br />
                        Onze Website gebruikt cookies en gelijkaardige technologieën om jouw gebruiksvoorkeuren te
                        onderscheiden van die van andere gebruikers van onze Website. Dit helpt ons om je een betere
                        gebruikerservaring te bieden wanneer je onze Website bezoekt en laat ons ook toe onze Website te
                        optimaliseren.
                        <br />
                        Cookies en soortgelijke technologieën laten echter niet toe om systematisch gegevens te
                        verzamelen die de gebruikers van onze Website zouden kunnen identificeren. Zij helpen ons enkel
                        de werking
                        van onze Website te verbeteren, te begrijpen wat de interesses van onze gebruikers en te meten
                        hoe
                        doeltreffend de inhoud van onze Website is.
                        <br />
                        Ten gevolge van recente wetswijzigingen worden alle Websites die gericht zijn op bepaalde delen
                        van de Europese Unie verplicht om jouw toestemming te vragen voor het gebruik of opslaan van
                        cookies
                        en gelijkaardige technologieën op jouw computers of mobiele apparaten. Deze cookie policy geeft
                        je
                        duidelijke en volledige informatie over de cookies die wij gebruiken en hun doel. Gelieve onze
                        Privacy Policy te lezen om kennis te nemen van de privacy regels die van toepassing zijn op de
                        Website
                        <br />
                        Voor verdere informatie over deze Cookie Policy kan u ons contacteren via info@Jurgmeister.be
                        <br />
                        <br />
                        <u>8.2. Wat is een cookie?</u>
                        <br />
                        Een cookie is klein tekst- en cijferbestand dat wij opslaan in je browser of op de harde schijf
                        van je computer. Op die manier kunnen wij jouw voorkeuren bij het gebruik van onze Website
                        onthouden.
                        <br />
                        Tenzij je je browserinstellingen hebt aangepast zodat die cookies zal weigeren, zal ons systeem
                        cookies plaatsen van zodra je onze Website bezoekt.
                        <br />
                        <br />
                        <u>8.3. Soorten cookies</u>
                        <br />
                        Cookies kunnen worden onderverdeeld naar gelang hun oorsprong, hun functie en hun levensduur.
                        <br />
                        First party cookies zijn die cookies die geplaatst worden door een Website die op dat moment
                        bezocht wordt door de gebruiker (b.v. cookies geplaatst door www.Jurgmeister.be).
                        <br />
                        Third-party cookies zijn cookies die geplaatst worden door een andere domeinnaam dan die van de
                        Website die bezocht wordt door de gebruiker. Als een gebruiker een Website bezoekt en een derde
                        partij een cookie plaatst via die Website, dan is dit een third-party cookie (b.v. cookies
                        geplaatst door Google, Twitter en Facebook).
                        <br />
                        Functionele cookies zijn cookies die ervoor zorgen dat de Website naar behoren functioneert
                        (b.v. cookies voor log-in of registratie, taalvoorkeuren). Functionele cookies zijn
                        logischerwijs
                        first party cookies.
                        <br />
                        Niet-functionele cookies zijn cookies die geplaatst kunnen worden voor statistische, sociale,
                        targeting en commerciële doeleinden. Zij hebben niets te maken met de louter technische
                        ondersteuning van de Website. Cookies met statische doeleinden laten toe om na te gaan welke
                        pagina’s van de Website u bezoekt, waar uw computer gelokaliseerd is etc. Cookies met sociale
                        doeleinden maken het de gebruiker mogelijk om de inhoud van de bezochte Website via sociale
                        media rechtstreeks te delen met anderen. Cookies met targeting doeleinden laten toe dat op basis
                        van
                        uw surfgedrag een profiel wordt opgebouwd zodat de vertoonde advertenties worden afgestemd op uw
                        interesses. Cookies met commerciële doeleinden houden bij hoeveel en welke advertenties aan een
                        gebruiker werden getoond. Niet functionele cookies kunnen first party of third party cookies
                        zijn.
                        <br />
                        Permanente cookies: Deze cookies blijven op het apparaat van de gebruiker aanwezig voor de duur
                        bepaald in de cookie. Ze worden geactiveerd telkens de gebruiker de Website bezoekt die deze
                        cookie heeft geplaatst (b.v. cookies geplaatst door sociale media zoals Twitter, Facebook,
                        Google
                        Analytics etc). De meeste niet-functionele cookies zijn permanente cookies.
                        <br />
                        Sessie cookies: Deze cookies laten ons toe de handelingen van een gebruiker te vereenvoudigen en
                        aan elkaar te linken tijdens een browsersessie. Een browser sessie begint wanneer een gebruiker
                        het
                        browserscherm opent en eindigt wanneer zij het browserscherm sluiten. Sessie cookies worden
                        tijdelijk geplaatst. Zodra u de browser afsluit, worden alle sessie cookies verwijderd. De
                        meeste functionele cookies zijn sessie cookies.
                        <br />
                        <br />
                        <u>8.4. Jouw toestemming</u>
                        <br />
                        Door de aanvaarding van onze Algemene Voorwaarden aan te vinken , aanvaard je het gebruik van
                        cookies. Om onze Website optimaal te kunnen gebruiken dien je die cookies te aanvaarden wat kan
                        via je browserinstellingen.
                        <br />
                        Je blokkeert cookies door de browserinstelling te activeren die toelaat om het plaatsen van
                        cookies te weigeren. Wanneer je echter je browserinstellingen gebruikt om die cookies te
                        blokkeren, zal
                        je mogelijks geen toegang hebben tot (bepaalde delen van) onze Website. Lees deze cookie policy
                        aandachtig voor meer informatie hierover.
                        <br />
                        Als je op elk moment uw toestemming wilt intrekken, moet je je cookies verwijderen d.m.v. je
                        browserinstellingen. Voor verdere informatie over het verwijderen of blokkeren van cookies kan
                        je volgende website bezoeken: http://www.aboutcookies.org/Default.aspx?page=2.
                        <br />
                        <br />
                        <u>8.5. Je browserinstellingen veranderen</u>
                        <br />
                        Wij wijzen je er op dat webbrowsers je toelaten om je cookie instellingen te wijzigen. Deze
                        instellingen zijn meestal terug te vinden in het menu ‘Opties’ of ‘Voorkeuren’ van je
                        webbrowser. Om deze instellingen beter te begrijpen, kunnen de volgende links nuttig zijn.
                        Zoniet dien je de
                        ‘Help’ functie in je webbrowser te consulteren voor meer details.
                        <br />
                        Cookie instellingen in Internet Explorer
                        Cookie instellingen in Firefox
                        Cookie instellingen in Chrome
                        Cookie instellingen in Safari
                        <br />
                        <br />
                        <u>8.6. Meer informatie over cookies</u>
                        <br />
                        Informatie over cookies
                        Nuttige informatie over cookies vind je hier: http://www.allaboutcookies.org/
                        <br />
                        Internet Advertising Bureau
                        De belangenvereniging van digitale marketeers heeft een gids opgesteld over online behavioural
                        advertising en online privacy die je hier kan terug vinden:http://www.youronlinechoices.eu/
                        <br />
                        <br />
                        <u>8.7. Welke cookies gebruiken wij op jurgmeister.be?</u>
                        <br />
                        Niet-funtionele cookies:
                        <br />
                        Name: _stripe_mid
                        <br />
                        Domein: fontawesome.com
                        <br />
                        Doel: inladen icons
                        <br />
                        Geldigheid: 1 jaar
                        <br />
                        <br />
                        Name: _ga
                        <br />
                        Domein: fontawesome.com, getbootstrap.com
                        <br />
                        Doel: Analytics
                        <br />
                        Geldigheid: 2 jaar
                        <br />
                        <br />
                        Functionele cookies:
                        <br />
                        Name: sessionid
                        <br />
                        Domein: jurgmeister.be
                        <br />
                        Doel: Beveiliging
                        <br />
                        Geldigheid: duur sessie
                        <br />
                        <br />
                        <br />
                        Name: csrftoken
                        <br />
                        Domein: jurgmeister.be
                        <br />
                        Doel: Beveiliging
                        <br />
                        Geldigheid: 2 jaar
                        <br />
                        <br />
                        Voor cookies geplaatst door derde partijen (o.a. Google Analytics) verwijzen wij je graag naar
                        de verklaringen die deze partijen op hun respectieve websites daarover geven. Let op: wij kunnen
                        geen enkele invloed uitoefen op de inhoud van die verklaringen noch op de inhoud van de cookies
                        van
                        deze derde partijen.
                    </p>
                </div>
            </div>
            </div>
        </section>
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}