{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <style>
    .backgroundcentertext {
      background-color: rgba(255, 255, 255, 0.651);
      align-self: center;
    }

    .backgroundcards {
      background-color: rgb(255, 255, 255);
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0)
    }

    a:link,
    a:visited {
      color: rgb(0, 0, 0);
    }

    a:hover {
      color: rgb(0, 0, 0);
    }

    .cardimage {
      height: 45vh;
      object-fit: cover;
    }

    .icon {
            font-size: 75px;
        }
  </style>
</head>

<body>
  <main class="bg-dark">
    <section class="py-3 text-white text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Wat bieden wij aan?</h1><br />
          <p class="lead">Wij bieden verschillende diensten aan. Contacteer ons gerust voor meer info via Instagram, Facebook of e-mail.
            <br/>
            <br/>
            <a class="ganton mx-5" href="{% url 'instagram'%}"><i class="bisque bi icon bi-instagram"></i></a>
            <a class="ganton bisque mx-5" target="_blank"
              href="https://www.facebook.com/profile.php?id=100069179911878"><i
                class="bisque bi icon bi-facebook"></i></a>
            <a href="mailto:bestellingen@jurgmeister.be" class="ganton bisque mx-5"><i class="bisque bi icon bi-envelope"></i></a>
        </div>
      </div>
    </section>

    <div class="album py-5 backgroundcentertext">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for service in services.all %}
          <div class="col">
            <a class="card backgroundcards shadow h-100" href="{% url 'servicedetail' service.id %}">
              <img class="cardimage" src="{{ service.image.url }}">
              <title>Placeholder</title></img>
              <div class="card-body">
                <h2 class="card-title"> {{service.title}}</h2>
                <p class="card-text">{{ service.body }}</p>
                <p class="card-text"><i>{{service.quotes}}</i></p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
  </main>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}